<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120558150887-lkiis2gjbjcj9prm14fei4vc84nalpm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120558150887-lkiis2gjbjcj9prm14fei4vc84nalpm5</string>
	<key>API_KEY</key>
	<string>AIzaSyAVmJih6EwhqUpbXY4txHMhKOscNGv0Zf8</string>
	<key>GCM_SENDER_ID</key>
	<string>120558150887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter2.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-2-1820f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-2-1820f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120558150887:ios:408aecfdf246a67545ae42</string>
</dict>
</plist>